<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<title>Calculadora</title>
</h:head>

<h:body>

	<h:form id="form">
		<h:messages />
		<h:inputText size="12" value="#{calculadoraBean.valorA}">
			<f:convertNumber minFractionDigits="2" maxFractionDigits="2"
				locale="pt_BR" />
		</h:inputText>
		+
		<h:inputText size="12" value="#{calculadoraBean.valorB}">
			<f:convertNumber minFractionDigits="2" maxFractionDigits="2"
				locale="pt_BR" />
		</h:inputText>
		=
		<h:outputText value="#{calculadoraBean.resultado}">
			<f:convertNumber type="currency" locale="pt_BR" />
		</h:outputText>

		<br />
		<h:commandButton value="Somar" action="#{calculadoraBean.somar}" />
	</h:form>

	<h:form id="frm">
		<h:messages showDetail="true" showSummary="false" />
		<h:inputText size="12" value="#{calculadoraBean.dataBase}">
			<f:convertDateTime pattern="dd/MM/yyyy" />
		</h:inputText>
+
<h:inputText size="12" value="#{calculadoraBean.dias}" />
dias =
<h:outputText value="#{calculadoraBean.resultadoData}">
			<f:convertDateTime dateStyle="full" locale="pt_BR" />
		</h:outputText>
		<br />
		<h:commandButton value="Adicionar"
			action="#{calculadoraBean.adicionar}" />
	</h:form>


</h:body>

</html>