<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Livros Favoritos</title>
</h:head>

<h:body>
	<h:form>
		<h:dataTable value="#{livrosBean.livros}" var="livro" border="1"
			cellspacing="0" cellpadding="2">
			<f:facet name="header">
				Relação de Livros Favoritos
			</f:facet>
			<h:column>
				<f:facet name="header">Título</f:facet>
				<h:outputText value="#{livro.titulo}" />
			</h:column>
			<h:column>
				<f:facet name="header">Autor</f:facet>
				<h:outputText value="#{livro.autor}" />
			</h:column>


		</h:dataTable>
	</h:form>
</h:body>
</html>