<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<h:head>
	<title>Lista de nomes</title>
</h:head>
<h:body>
	<h:form>
			Nome: <h:inputText value="#{nomesBean.nome}"
			binding="#{nomesBean.inputNome}" />
		<br />
		<h:commandButton value="Adicionar" action="#{nomesBean.adicionar}"
			binding="#{nomesBean.botaoAdicionar}" />
		<br />

		<h:selectOneListbox size="5" value="#{minhaCidadeBean.cidadeNatal}">
			<f:selectItems value="#{minhaCidadeBean.todasCidades}" />
		</h:selectOneListbox>

		<br />

		<h:selectBooleanCheckbox id="aceite" value="#{nomesBean.termoAceito}" />
		<h:outputLabel value="Li e aceito os termos e condições" for="aceite" />

		<br />

		<ol>
			<ui:repeat var="nome" value="#{nomesBean.nomes}">
				<li>#{nome}</li>
			</ui:repeat>
		</ol>

		<br />

		<h:selectManyCheckbox id="assuntos"
			value="#{nomesBean.assuntosInteresse}">
			<f:selectItem itemValue="1" itemLabel="Java" />
			<f:selectItem itemValue="3" itemLabel="Python" />
			<f:selectItem itemValue="4" itemLabel="Ruby" />
			<f:selectItem itemValue="4" itemLabel="PHP" />
			<f:selectItem itemValue="5" itemLabel="Métodos ágeis" />
		</h:selectManyCheckbox>

		<h:panelGrid columns="2">
			<f:facet name="header">
				<h:outputText value="Dados para cadastro" />
			</f:facet>
			<h:outputText value="Nome:" />
			<h:inputText size="20" />
			<h:outputText value="E-mail:" />
			<h:inputText size="40" />
			<h:outputText value="Senha:" />
			<h:inputSecret size="20" />
			<h:outputText />
			<h:commandButton value="Cadastrar" />
		</h:panelGrid>

		<h:panelGrid columns="2">
			<f:facet name="header">
				<h:outputText value="Dados para cadastro" />
			</f:facet>
			<h:outputText value="Nome:" />
			<h:inputText size="20" />
			<h:outputText value="E-mail:" />
			<h:panelGroup>
				<h:inputText size="40" />
				<h:commandButton value="Validar" />
			</h:panelGroup>
			<h:outputText value="Senha:" />
			<h:inputSecret size="20" />
			<h:outputText />
			<h:commandButton value="Cadastrar" />
		</h:panelGrid>

		<h:form>
			<h:messages showDetail="true" showSummary="true"
				errorStyle="color: red" infoStyle="color: green"
				warnStyle="color: orange" fatalStyle="color: gray" />
			<h:outputLabel value="Nome:" />
			<h:inputText value="#{cadastroBean.nome}" />
			<h:commandButton value="Cadastrar" action="#{cadastroBean.cadastrar}" />
		</h:form>

	</h:form>
</h:body>
</html>