<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">
	<h:head>
		<title>Olá JSF</title>
	</h:head>
	<h:body>
		<h:form>
			<h1>Olá #{ola.nomeCompleto}</h1>
			Nome: <h:inputText value="#{ola.nome}"/>
			<br/>
			Sobrenome: <h:inputText value="#{ola.sobrenome}"/>
			<br/>
			<h:commandButton value="Dizer olá" action="#{ola.dizerOla}"/>
		</h:form>
	</h:body>
</html>