<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
	<title>Propriedades comuns</title>
	<script>
		function alterarValorCampo() {
			var campo = document.getElementById('meuForm:meuCampo');
			campo.value = 'Valor alterado';
		}
	</script>
</h:head>
<h:body>
	<h:form id="meuForm">
		<h:inputText id="meuCampo" />
		<input type="button" value="Alterar valor"
			onclick="alterarValorCampo();" />
	</h:form>
</h:body>
</html>